{% extends 'layout.html' %}
{% load static %}

{% block title %}Contacto{% endblock title %}

{% block menu_items %}
<li><a class="selection" href="{% url 'index' %}">Inicio</a></li>
<li><a class="selection" href="{% url 'products' %}">Productos</a></li>
<li><a class="selection" href="{% url 'travel'%}">Viajes y servicios</a></li>
<li><a class="selection selected" href="{% url 'contact' %}">Contacto</a></li>
<li><a class="selection" href="{% url 'legal' %}">Aviso Legal</a></li>
{% endblock menu_items %}

{% block menu_items_res %}
<li><a class="selection" href="{% url 'index' %}">Inicio</a></li>
<li><a class="selection" href="{% url 'products' %}">Productos</a></li>
<li><a class="selection" href="{% url 'travel'%}">Viajes y servicios</a></li>
<li><a class="selection selected" href="{% url 'contact' %}">Contacto</a></li>
<li><a class="selection" href="{% url 'legal' %}">Aviso Legal</a></li>
{% endblock menu_items_res %}

{% block main %}
<main class="contact-main">
    <div class="contact-main-container main-container">
        <div class="form-container">
            <form action="" method="post">
                <div class="form-group">
                    <div class="group user-email-group">
                        <label for="userName" class="label">Nombre:</label>
                        <input type="text" name="userName" id="userName" placeholder="Nombre" class="input">
                        <label for="email" class="label">Correo:</label>
                        <input type="email" name="email" id="email" placeholder="Correo" class="input">
                    </div>
                    <div class="group message-group">
                        <label for="message" class="label">Mensaje:</label>
                        <textarea name="message" id="message" placeholder="Mensaje" class="input"></textarea>
                    </div>
                </div>
                <div class="btn-group">
                    <input type="submit" value="Enviar" class="btn">
                </div>
            </form>
            <div class="text">
                <p>Nos pondremos en contacto contigo lo mas pronto posible!</p>
                <h6>(<i>Este no es un formulario real, Por favor abstenerse de llenarlo</i>)</h6>
            </div>
        </div>
    </div>
</main>
{% endblock main %}


