{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="152x152" href="https://magic-herbs.github.io/site/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://magic-herbs.github.io/site/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://magic-herbs.github.io/site/favicon-16x16.png">
    <link rel="manifest" href="https://magic-herbs.github.io/site/site.webmanifest">
    <link rel="mask-icon" href="https://magic-herbs.github.io/site/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://magic-herbs.github.io/site/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://magic-herbs.github.io/site/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <title>Magic Herbs - AVISO LEGAL</title>
</head>
<body>
    <div class="container">
        <div class="legal-main">
            <h1>AVISO LEGAL</h1>
            <p>
                Bienvenido/a a <b>Magic Herbs</b>. Por favor, lea detenidamente los siguientes términos y condiciones antes de utilizar nuestra página web.
            </p>
            <p>
                <b>Contenido:</b> Todo el contenido de esta página web es puramente ficticio y no debe ser considerado como real. Los personajes, historias, eventos, lugares, productos y cualquier otro elemento presentado aquí son ficticios y no tienen ninguna conexión con la realidad.
            </p>
            <p>
                <b>Productos:</b> Todos los productos presentados en nuestra página web no están realmente a la venta. Estos son solo ejemplos ficticios para mostrar habilidades en el desarrollo web. No se aceptarán pedidos ni se realizarán transacciones de ningún tipo.
            </p>
            <p>
                <b>Respeto:</b> Todo lo mencionado en <b>Magic Herbs</b> es puro humor y no se busca ofender ni dañar a ningún tipo de persona por su raza, sexo, condición social, etc. Tampoco buscamos ofender a algún otro tipo de minorías.
            </p>
            <p>
                <b>Proyecto de práctica:</b> Esta página web no es una tienda real, es solo un proyecto de práctica para mejorar nuestro conocimiento en el desarrollo web. No ofrecemos ningún producto o servicio real, y no somos responsables de cualquier uso que se haga del contenido aquí presentado.
            </p>
            <p>
                <b>Al acceder y utilizar nuestra página web, usted acepta estos términos y condiciones. Si no está de acuerdo con ellos, le pedimos que no utilice esta página web. Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento y sin previo aviso.</b>
            </p>
            <p>
                <b>Gracias por visitar Magic Herbs.</b>
            </p>
        </div>
    </div>
</body>
</html>