{% extends 'layout.html' %}

{% load static %}

{% block title %}{{product.name}}{% endblock title %}

{% block menu_items %}
<li><a class="selection" href="{% url 'index' %}">Inicio</a></li>
<li><a class="selection" href="{% url 'products' %}">Productos</a></li>
<li><a class="selection" href="{% url 'travel'%}">Viajes y servicios</a></li>
<li><a class="selection" href="{% url 'contact' %}">Contacto</a></li>
<li><a class="selection" href="{% url 'legal' %}">Aviso Legal</a></li>
{% endblock menu_items %}

{% block menu_items_res %}
<li><a class="selection" href="{% url 'index' %}">Inicio</a></li>
<li><a class="selection" href="{% url 'products' %}">Productos</a></li>
<li><a class="selection" href="{% url 'travel'%}">Viajes y servicios</a></li>
<li><a class="selection" href="{% url 'contact' %}">Contacto</a></li>
<li><a class="selection" href="{% url 'legal' %}">Aviso Legal</a></li>
{% endblock menu_items_res %}

{% block main %}
<main class="product_page-main">
    <div class="product_page-main-container main-container">
        <div class="ref-image-container">
            <img src="{{product.image.url}}" alt="{{product.image_alt}}">
        </div>
        <div class="text-container">
            <section class="details-container">
                <h2 class="product-title">{{product.name}}</h2>
                <p class="price">{{product.price}}</p>
                <p class="description">{{product.description}}</p>
                <p class="link stars">
                    Calificacion:
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
            </section>

            <section class="payment-container">
                <div class="payment-methods">
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    <i class="fa-brands fa-cc-diners-club"></i>
                </div>
                <form action="" class="payment-form">
                    <label for="select">Cantidad: </label>
                    <select name="select" class="amount-selector">
                        {% for i in range %}
                            {% if i|add:1 == 1 %}
                                <option value="{{i|add:1}}" selected>{{i|add:1}}</option>
                            {% else %}
                                <option value="{{i|add:1}}">{{i|add:1}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="select">{{product.available}}</label>
                    <input type="submit" value="Comprar ahora" class="btn pay-btn">
                </form>
            </section>
        </div>
    </div>
</main>
{% endblock main %}
