{% extends 'layout.html' %}

{% load static %}

{% block title %}{{travel.name}}{% endblock title %}

{% block menu_items %}
<li><a class="selection" href="{% url 'index' %}">Inicio</a></li>
<li><a class="selection" href="{% url 'products' %}">Productos</a></li>
<li><a class="selection" href="{% url 'travel'%}">Viajes y servicios</a></li>
<li><a class="selection" href="{% url 'contact' %}">Contacto</a></li>
<li><a class="selection" href="{% url 'legal' %}">Aviso Legal</a></li>
{% endblock menu_items %}

{% block menu_items_res %}
<li><a class="selection" href="{% url 'index' %}">Inicio</a></li>
<li><a class="selection" href="{% url 'products' %}">Productos</a></li>
<li><a class="selection" href="{% url 'travel'%}">Viajes y servicios</a></li>
<li><a class="selection" href="{% url 'contact' %}">Contacto</a></li>
<li><a class="selection" href="{% url 'legal' %}">Aviso Legal</a></li>
{% endblock menu_items_res %}

{% block main %}
<main class="travel_page-main">
    <div class="travel_page-main-container main-container">
        <div class="ref-image-container">
            <img src="{{travel.image.url}}" alt="{{travel.image_alt}}">
        </div>
        <div class="text-container">
            <div class="details-container">
                <h2 class="travel-title">{{travel.name}}</h2>
                <p class="price">{{travel.price}}</p>
                <p class="description">{{travel.extended_description}}</p>
                <p class="link stars">
                    Calificacion:
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </p>
            </div>

            <div class="payment-container">
                <div class="payment-methods">
                    <i class="fa-brands fa-cc-mastercard"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    <i class="fa-brands fa-cc-diners-club"></i>
                </div>
                <form action="" class="payment-form">
                    <input type="submit" value="Reservar viaje" class="btn pay-btn">
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock main %}
