.container{
    .contact-main{
        .form-container{
            // width: 50%;
            form{
                // outline: 2px solid #be1919;
                width: 70%;
                padding: 50px;
                border-radius: 5px;
                display: flex;
                background: $light_gray;
                justify-content: space-between;
                .input{
                    &:focus{
                        outline: none;
                    }
                }
                .form-group{
                    //outline: 2px solid #1924be;
                    width: 50%;
                    .input.normal{
                        width: 90%;
                        margin: 10px 0;
                        padding: 10px 10px;
                        border-radius: 5px;
                        display: inline-block;
                        border: 2px solid $dark_green;
                        font-size: 20px;
                    }
                    .btn{
                        display: block;
                        padding: 10px 20px;
                        border-radius: 5px;
                        border: none;
                        background:$dark_green;
                        color: $white;
                        font-weight: 700;
                        &:hover{
                            cursor: pointer;
                            background: $green;
                        }
                    }
                    .label{
                        font-size: 20px;
                    }
                }
                .message-group{
                    //outline: 2px solid #19be95;
                    width: 50%;

                    .input.message{
                        width: 100%;
                        height: 100%;
                        resize: none;
                        padding: 10px 10px;
                        border-radius: 5px;
                        border: 2px solid $dark_green;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

