body {
    .container {
        .contact-main {
            .form-container {
                form {
                    width: 60%;
                    padding: 30px;
                    border-radius: 10px;
                    background: $l_theme_secondary;

                    .form-group {
                        display: flex;
                        justify-content: space-between;

                        .label {
                            margin: 10px 0;
                            display: block;
                        }

                        .input {
                            width: 100%;
                        }

                        .group {
                            width: 45%;
                        }

                        .message-group {
                            textarea {
                                display: inline;
                                resize: none;
                                height: calc(100% - 39px);
                            }
                        }
                    }

                    .btn-group {
                        margin-top: 20px;

                        .btn {
                            padding: 10px 25px;
                            border-radius: 5px;
                            background: $l_theme_dark_primary;
                            color: $text;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }

                .text {
                    margin: 20px 0;
                }
            }
        }
    }
}

body.dark_mode {
    .container {
        .contact-main {
            .form-container {
                form {
                    background: $d_theme_light_bg;

                    .form-group {
                        .label {
                            color: $text;
                        }
                    }

                    .btn-group {
                        .btn {
                            background: $d_theme_accent;
                            color: $d_theme_background;
                        }
                    }
                }

                .text {
                    color: $text;
                }
            }
        }
    }
}
