body {
    .container {
        .index-main {
            width: 90%;
            max-width: 1366px;
            margin: auto;
            padding: 40px;

            .index-main-container {
                .index-cards {
                    width: 80%;
                    margin: 40px auto;
                    display: flex;
                    background: $l_theme_secondary;
                    margin-bottom: 40px;
                    padding: 20px;
                    border-radius: 5px;
                    color: $l_theme_darkest_secondary;

                    .image-container {
                        margin-right: 20px;

                        .image {
                            border: 10px solid $l_theme_dark_secondary;
                            border-radius: 5px;
                            width: 100%;
                            max-width: 250px;
                        }
                    }

                    .text-container {
                        width: 60%;

                        .title {
                            margin-bottom: 20px;
                        }

                        h3 {
                            font-weight: 500;
                        }

                        .text {
                            margin-bottom: 20px;

                            .sub_title {
                                font-weight: 500;
                            }

                            .light-italic {
                                font-weight: 300;
                                font-style: italic;
                            }
                        }

                        a.text.link {
                            color: $l_theme_dark_primary;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

body.dark_mode {
    .container {
        .index-main-container {
            .index-cards {
                background: $d_theme_light_bg;
                color: $text;

                .image-container {
                    .image {
                        border-color: $d_theme_accent;
                    }
                }

                .text-container {

                    h3,
                    .title,
                    a.text.link,
                    .text .sub_title {
                        color: $d_theme_accent;
                    }

                }
            }
        }
    }
}
