@media screen and (max-width:950px) {
    .container{
        .contact-main{
            .form-container{
                form{
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .container{
        .contact-main{
            .form-container{
                form{
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .container{
        .contact-main{
            .form-container{
                form{
                    .form-group{
                        flex-direction: column;
                        .input{
                            max-width: none;
                        }
                        .group{
                            width: 100%;
                        }
                        .message-group{
                            margin-top: 20px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}
