@media screen and (max-width:800px) {
    body {
        .container {
            .travel_page-main {
                .travel_page-main-container {
                    flex-direction: column;

                    .ref-image-container {
                        width: 80%;
                        margin: auto;
                        margin-bottom: 20px;
                    }

                    .text-container {
                        margin: auto;
                        width: 80%;

                        .details-container {
                            margin-bottom: 20px;
                        }

                        .payment-container {
                            .payment-methods {
                                .fa-brands {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
