body {
    .container {
        .travel-main {
            .travel-main-container {
                .title-container {
                    width: 90%;
                    margin: auto;
                    margin-bottom: 50px;

                    h1 {
                        margin-bottom: 30px;
                    }

                    p {
                        font-size: 20px;
                    }

                    p.non-included {
                        font-weight: lighter;
                        font-style: italic;
                        font-size: 15px;
                    }
                }

                .destiny-cards {
                    width: 90%;
                    margin: auto;

                    p {
                        font-size: 30px;
                    }

                    .destiny {
                        display: flex;
                        justify-content: space-between;
                        background: $l_theme_secondary;
                        margin: 20px 0;
                        padding: 20px;
                        border-radius: 5px;

                        .image-container {
                            border-radius: 5px;
                            width: 300px;
                            height: 300px;
                            margin-right: 40px;
                            padding: 10px;
                            background: $l_theme_dark_secondary;

                            img {
                                border-radius: 5px;
                                object-fit: cover;
                                height: 100%;
                            }
                        }

                        .text-container {
                            font-size: 20px;

                            h2 {
                                font-size: 30px;
                            }

                            h3 {
                                padding-bottom: 15px;
                                font-weight: 500;
                            }

                            p {
                                font-size: 16px;
                                padding-bottom: 80px;
                            }

                            a.link {
                                font-weight: 700;
                                color: $l_theme_dark_primary;
                            }
                        }
                    }
                }
            }
        }
    }
}

body.dark_mode {
    .container {
        .travel-main {
            .travel-main-container {
                .title-container {
                    color: $text;

                    h1 {
                        color: $d_theme_accent;
                    }
                }

                .destiny-cards {
                    color: $d_theme_accent;

                    .destiny {
                        background: $d_theme_light_bg;

                        .image-container {
                            background: $d_theme_accent;
                        }

                        .text-container {
                            color: $text;

                            h2 {
                                color: $d_theme_accent;
                            }

                            a.link {
                                color: $d_theme_accent;
                            }
                        }
                    }
                }
            }
        }
    }
}
