$l_theme_primary: #50A112;
$l_theme_dark_primary: #265501;
$l_theme_secondary: #DADADA;
$l_theme_dark_secondary: #B0B0B0;
$l_theme_darkest_secondary: #1E1E1E;

$d_theme_primary: #50aa18;
$d_theme_accent: #658b13;
$d_theme_secondary: #c2cdd0;
$d_theme_dark_acc: #293b1d;
$d_theme_background: #1f1f1f;
$d_theme_light_bg: #282829;
$text: #dadee7;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.selection {
    color: white;
    text-decoration: none;
}

.input {
    padding: 10px 10px;
    max-width: 300px;
    border-radius: 5px;
    outline: 2px solid $d_theme_primary;
    border: none;
    display: inline-block;
}

body.dark_mode .input {
    outline: 2px solid $d_theme_accent;
    background: $d_theme_light_bg;
}

body.dark_mode .input::placeholder {
    color: $text;
}

.link {
    font-weight: 700;
    color: $l_theme_primary;
    cursor: pointer;
}

html {
    min-height: 100%;
    position: relative;

    body {
        margin-bottom: 200px;

        .container {
            display: flex;
            flex-direction: column;

            main {
                width: 90%;
                max-width: 1366px;
                margin: 40px auto;
            }
        }
    }

    body.dark_mode {
        background: $d_theme_background;
    }
}

a {
    color: #000;
    text-decoration: none;
}

.btn {
    padding: 10px 25px;
    border-radius: 5px;
    background: $d_theme_primary;
    color: $text;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

@import "header";
@import "index";
@import "products";
@import "product_page";
@import "traveling";
@import "travel_page";
@import "contact_form";
@import "payments_page";
@import "footer";
@import "legal";

@import "responsive_header";
@import "responsive_index";
@import "responsive_travel";
@import "responsive_product_page";
@import "responsive_travel_page";
@import "responsive_contact_form";
@import "responsive_footer";
@import "responsive_legal";
