body {
    .container {
        header {
            background: $l_theme_primary;

            .header-container {
                width: 90%;
                max-width: 1366px;
                margin: auto;
                padding: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .title-container {
                    .title {
                        a {
                            text-decoration: none;

                            h1 {
                                font-size: 50px;
                                color: $l_theme_dark_primary;
                                font-weight: bold;
                            }

                            p {
                                text-align: right;
                                font-size: 24px;
                                color: $l_theme_dark_primary;
                                font-weight: bold;

                                span {
                                    color: $text;
                                }
                            }
                        }
                    }
                }

                .logo-container {
                    img {
                        margin-bottom: 5px;
                        width: 200px;
                    }

                    p {
                        color: $text;
                        text-align: center;
                        font-weight: 500;
                        font-size: 24px;
                    }
                }
            }

            .menu-container {
                background: $l_theme_dark_primary;
                padding: 20px;

                .menu-header-container {
                    display: none;
                }

                ul {
                    width: 50%;
                    max-width: 1000px;
                    margin: auto;
                    display: flex;
                    text-align: center;
                    justify-content: space-between;

                    li {
                        display: inline;
                        text-align: center;

                        a {
                            display: block;
                            padding: 5px;

                            &:hover {
                                color: $l_theme_primary;
                            }
                        }

                        a.selected {
                            color: $l_theme_dark_secondary
                        }
                    }
                }
            }
        }

    }
}

body.dark_mode {
    .container {
        header {
            background: $d_theme_dark_acc;

            .header-container {
                .title-container {
                    .title {
                        a {

                            h1,
                            p {
                                color: $d_theme_primary;
                            }
                        }

                    }
                }
            }
        }
    }
}
