body {
    .container {
        .legal-main {
            width: 50%;
            margin: 20px auto;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 20px;
            background: $light_gray;

            h1 {
                margin-bottom: 50px;
            }

            p {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}
