body {
    .container {
        .products-main {
            .main-container {
                .cards-container {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .card {
                        padding: 20px;
                        width: 355px;
                        background: $l_theme_secondary;
                        border-radius: 5px;
                        margin: 20px;
                        display: flex;
                        justify-content: space-between;
                        flex-direction: column;
                        color: #000;
                        text-decoration: none;

                        .image-container {
                            flex: 1;
                            margin-bottom: 40px;
                            background: $l_theme_dark_secondary;

                            img {
                                width: 100%;
                            }
                        }

                        .flex-container {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            .text-container {
                                .price {
                                    margin-bottom: 20px;
                                }
                            }

                            .btn-container {
                                .get_btn {
                                    display: inline-block;
                                    background: $l_theme_dark_primary;
                                    color: $text;
                                    margin: 20px 0;
                                    margin-bottom: 0;
                                    padding: 15px 20px;
                                    border-radius: 5px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body.dark_mode {
    .container {
        .products-main {
            .main-container {
                .cards-container {
                    .card {
                        background: $d_theme_light_bg;

                        .image-container {
                            background: $d_theme_background;
                        }

                        .flex-container {
                            .text-container {
                                color: $text;
                            }
                        }
                    }
                }
            }
        }
    }
}
