@media screen and(max-width:800px) {
    body {
        .container {
            .travel-main {
                .travel-main-container {
                    .destiny-cards {
                        .destiny {
                            overflow: scroll;
                            flex-direction: column;

                            .image-container {
                                margin-right: 0;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:560px) {
    body {
        .container {
            .travel-main {
                .travel-main-container {
                    .destiny-cards {
                        .destiny {
                            flex-direction: column;

                            .image-container {
                                margin: auto;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:450px) {
    body {
        .container {
            .travel-main {
                .travel-main-container {
                    .destiny-cards {
                        .destiny {
                            .image-container {
                                width: 100%;

                                img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
